@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
.main{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: max(1000px, 100vw);
    height: 98vh;
    position: relative;
}

.main .box{
    opacity: 0.74;
    height: 98vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 62px;
    padding-top: 20px;
}



nav img{
    width: 144px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.signIn{
    background-color: red;
}

.english{
    background-color: black;
    border-color: gray;
    margin-right: 10px;
}
.hero{
    font-family: 'Marten Sans', sans-serif;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
}

.hero> :nth-child(1),
.hero> :nth-child(2){
    font-weight: 900;
    font-size: 56px;
}

.hero> :nth-child(3){
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}

.hero> :nth-child(4){
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
}

.hero> :nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 50%;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
}

.hero div> :nth-child(1){
    width: 55%;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.66;
    border-color: white;
    border-width: 1px;
}

.hero div> :nth-child(2){
    padding: 13px 20px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 25px;
    font-family: 'Marten Sans', sans-serif;
}

.hero div input::placeholder{
    color: white;
}