*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: max(1000px, 100vw);
    height: 80vh;
    position: relative;
}

.main .box{
    opacity: 0.44;
    height: 80vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 62px;
}